[submodule "third_party/loam-sync"]
	path = third_party/loam-sync
	url = https://github.com/vpavlin/loam-sync.git
[submodule "third_party/loam-transport"]
	path = third_party/loam-transport
	url = https://github.com/vpavlin/loam-transport.git
[submodule "mobile/src/lib/loam-transport-pkg"]
	path = mobile/src/lib/loam-transport-pkg
	url = https://github.com/vpavlin/loam-transport
[submodule "packages/loam-sync-pkg"]
	path = packages/loam-sync-pkg
	url = https://github.com/vpavlin/loam-sync.git
